// || utils
$colour-logo: #D04F4F;
$colour-filter-blue: #3282F7;
$colour-filter-green: #68D9A4;
$colour-filter-red: #ED6454;
$colour-bg-grey-light: #E7E7E7;
$colour-bg-grey-dark: #C7BEBE;

$logo-font-fam: 'DM Sans', sans-serif;
$body-font-fam: 'Lato', sans-serif;
$description-font-fam: 'Roboto', sans-serif;

$normal: 400;
$bold: 700;

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}


// class to hide elements, use with JS toggle
.hidden {
    display: none;
}


// generic styles
body {
    box-sizing: border-box;
    font-family: $body-font-fam;
    margin: auto;
    max-width: min(1400px, 95%);
}
*, *::before, *::after {
    box-sizing: inherit;
}
header {
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    color: $colour-logo;
    margin: 0;
    text-align: center;
    font: $bold 2.2rem $logo-font-fam;
}
#main-search {
    width: 100%;
    height: 4.3rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    padding-left: 1.5rem;
    background: $colour-bg-grey-light;
    margin-bottom: 1.6rem;
}
#tags {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
#filters {
    display: flex;
    gap: 1.25rem;
    height: 7rem;
}
.filter-block {
    border: none;
    border-radius: 5px;
    color: white;
    z-index: 2;
    &--ingredient {
        background: $colour-filter-blue;
    }
    &--appliance {
        background: $colour-filter-green;
    }
    &--utensil {
        background: $colour-filter-red;
    }
}
.tag {
    font-size: 0.9rem;
    padding: 1rem;
}
.button {
    width: 10.6rem;
    height: 4.3rem;
}
.filter-input {
    height: 4.3rem;
    padding-inline: 1rem;
}
.filter-list {
    list-style-type: none;
    padding: 1rem;
    background: inherit;
}


#search-results {
    margin-block: 1.56rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 5%;
    row-gap: 3rem;
}
.recipe-card {
    width: 380px;
    border-radius: 5px;
    &__picture {
        height: 178px;
        background: $colour-bg-grey-dark;
    }
    &__text-section {
        padding: 1.25rem;
        background: $colour-bg-grey-light;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        & h2 {
            margin:0;
            font-size: 1.12rem;
        }
        & span {
            font-size: 1.12rem;
        }
    }
    &__details {
        display: flex;
    }
    &__ingredients {
        font-size: 0.75rem;
        list-style-type: none;
        padding: 0;
        flex: 1;
        &__name {
            font-weight: $bold;
        }
    }
    &__description {
        font-size: 0.75rem;
        flex: 1;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
    }
}